@import "variables";
@import "mixins";

.cells__toolbar {
  align-items: center;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  display: flex;
  height: $toolbar-height;
  left: 0;
  right: 0;
  top: $header-height;
  padding: 7px 10px;
  position: absolute;

  .button {
    @include button(green);
  }

}
